@import '../common.scss';

.calendar {
  display: block;
  background:$white;
  width: 100%;
  border: solid 1px $borderColor;
  margin: 20px auto;
  box-shadow: 0 0 15px 0 $mdGrey;
  font-size: 1.3rem;
  text-align: center;
}
